body {
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#tasks-left {
    color: green;
}

form {
    text-align: left;
    
}

input {
    align: right;
}

table {
    width: 30%;
}
  
th {
    height: 50px;
}

tr {
    text-align: left;
}

btn-default {
    background-color: black;
}